* h1{
    font-size: 2.5rem;
    justify-content: column;
    text-align: center;
    margin: 35px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Felix Titling;
    flex-direction: column;
    min-height: 40vh;
}
body{
    border-width: 10px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input {
    width: 200px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 8px;
    margin: 10px;
    border: 2px solid #000;
    border-color: #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
select{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 10px;
    border: 2px solid #000;
    background: #ffffff;
    border-color: #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);    
}
option{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 10px;
    border: 10px solid #000;
    border-color: #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
button {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 10px;
    border: 2px solid #000000;
    background: #ffffff;
    border-color: #000000;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}